doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Centered Images with Blue Background
    link(rel="stylesheet", href="styles.css")
  body
    .container
      .image-box
        a(href="image1.jpg", target="_blank")
          img(src="image1.jpg", alt="Image 1", class="ter-image")
      .image-box
        a(href="image2.jpg", target="_blank")
          img(src="image2.jpg", alt="Image 2", class="ter-image")
